<div class="content-Big-Card">
  <div class="img-Big-Card">
    <img [src]='lanternaFirst' alt="">
  </div>
  <p>Lorem ipsum</p>
  <div class="title-Big-Card">
    <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni quidem dignissimos amet doloremque.</h1>
  </div>
  <div class="person-Big-Card">
    <div class="face-Big-Card">
      <img [src]="facePicture" alt="">
    </div>
    <div class="description-Person-Big-Card">
      <p>by <strong>Lanterna Verde</strong></p>
      <p>CEO</p>
    </div>
  </div>
</div>
