<div class="content-Big-Card">
  <a [routerLink]="['content', id]"  class="content__ancora-Big-Card">
  <div class="img-Big-Card">
      <img src="{{imageNews}}" alt="">
    </div>
  </a>
  <p>{{typeCard}}</p>
  <div class="title-Big-Card">
    <h1><a [routerLink]="['content', id]" >{{titleCard}}</a></h1>
  </div>
  <div class="person-Big-Card">
    <div class="face-Big-Card">
      <img [src]="facePicture" alt="">
    </div>
    <div class="description-Person-Big-Card">
      <p>by <strong>{{authorCard}}</strong></p>
      <p class="role-Big-Card">{{roleCard}}</p>
    </div>
  </div>
</div>
