<div class="content-Home">
  <app-menu-title></app-menu-title>
  <div class="content-Cards-Home">
    <app-big-card
    id="1"
    imageNews="https://th.bing.com/th/id/OIP.ZA3pgqj_SaPzK5Fnnm9ikAHaEK?w=321&h=180&c=7&r=0&o=5&pid=1.7"
      typeCard="Hal Jordan"
      titleCard='O Lanterna Verde atual foi lançado nos quadrinhos da década de 60, e também é conhecido como "O Lanterna Verde da Era de Prata". A inspiração foi a série literária Lensman de E. E. Smith. A identidade do Lanterna Verde da Era de Prata, era a de , membro fundador da Liga da Justiça da América.'
      facePicture="https://th.bing.com/th/id/OIP.weXnFJIY5611bJCfLe8LjAHaEK?w=282&h=180&c=7&r=0&o=5&pid=1.7"
      authorCard="lanterna verde" roleCard="ceo"></app-big-card>
      <!-- https://www.adorocinema.com/filmes/filme-132150/ -->
    <div class="small-Cards-Home">
      <h1>Mais Populares</h1>
      <app-small-card
      id="2"
        facePicture="https://th.bing.com/th/id/OIP.weXnFJIY5611bJCfLe8LjAHaEK?w=282&h=180&c=7&r=0&o=5&pid=1.7"
        typeCard="sale"
        titleCard="Lanterna Verde conta a história de Hal Jordan, piloto de testes que é escolhido para ser o primeiro membro humano da Tropa dos Lanternas Verdes, ganhando um anel que lhe garante superpoderes depois que um novo inimigo chamado Parallax ameaça destruir o equilíbrio de poder no Universo."
        authorCard="lanterna verde" roleCard="ceo"></app-small-card>
        <!-- https://pt.wikipedia.org/wiki/Green_Lantern_(filme) -->
      <app-small-card
        id="3"
        facePicture="https://th.bing.com/th?q=Lanterna+Verde+Liga+Da+Justi%c3%a7a&w=120&h=120&c=1&rs=1&qlt=90&cb=1&pid=InlineBlock&mkt=pt-BR&cc=BR&setlang=pt-br&adlt=moderate&t=1&mw=247"
        typeCard="acquisition" titleCard="Zack Snyder compartilha arte sobre o Lanterna Verde, confira..."
        authorCard="lanterna verde liga da justiça" roleCard="co-fundador"></app-small-card>
      <!-- https://epipoca.com.br/zack-snyder-compartilha-arte-sobre-o-lanterna-verde-confira/ -->
      <app-small-card
        id="4"
        facePicture="https://th.bing.com/th/id/OIP.AMZ7utbUoqkSR3yKZ2aeFQHaFq?w=241&h=184&c=7&r=0&o=5&pid=1.7"
        typeCard="rivalry"
        titleCard="Eles possuem todo o poder dos lendários Lanternas Verdes, mas são movidos pela raiva. Essa raiva alimenta sua capacidade cósmica, deforma-os física e mentalmente e os torna uma infecção literal que se espalha por todo o universo."
        roleCard="rivalry"></app-small-card>
      <!-- https://feededigno.com.br/curiosidades/lanternas-vermelhos-6-coisas-que-voce-talvez-nao-saiba/#:~:text=Os%20Lanternas%20Vermelhos%20constituem%20alguns%20dos%20seres%20mais,literal%20que%20se%20espalha%20por%20todo%20o%20universo. -->
    </div>
  </div>
</div>
