
<div class="content-Menu-Bar">
  <div class="top-Menu-Bar">
    <div class="logo-Menu-Bar">
      <img [src]=logoGreen alt="">
      <h1>Laterna Blog</h1>
    </div>
    <div class="link-Menu-Bar">
      <a href="https://www.linkedin.com/in/rodrigocvigil/" target="_blank">Linkedin</a>
      <p>	&bull;</p>
      <a href="https://github.com/RCVigil" target="_blank">Github</a>
      <p>	&bull;</p>
      <a href="https://www.instagram.com/rodrigocuervodev/" target="_blank">Instagram</a>
    </div>
  </div>
  <div class="hr-Menu-Bar">
    <hr>
  </div>
</div>
